header {
	background: #43a047;
}
.site-content {
	/* background-color: #eff7ec; */
	background-color: #f1f4f6;
}
header, header a {
	color: #c5deea;
}
.sidebar nav>ul>li.highlight,
.sidebar nav>ul>li.tree-open>a {
	background: #4cc151;
	color: #FFFFFF;
}
.sidebar nav>ul>li.highlighti i.sidebar-menu-icon,
.sidebar nav>ul>li.tree-open>a i.sidebar-menu-icon {
	color: #FFFFFF;
}

.sidebar nav .submenu {
	background: #ebfff0;
}
.sidebar nav li.highlight>a {
	color: #1c82e1;
}
.sidebar nav li>a i.sidebar-menu-icon {
	color: #4cac51;
}

.sidebar nav>ul>li.highlight>a>i.sidebar-menu-icon {
	color: #FFFFFF;
}

.sidebar nav li>a {
	color: #475745;
}

.sidebar nav li>a:hover {
	background: #4cc151;
	color: #FFFFFF;
	box-shadow: inset 5px 0 #348938;
}
.sidebar nav li>a:hover i.sidebar-menu-icon {
	color: #FFFFFF;
}
.sidebar nav>ul>li.highlight>a,
.sidebar nav>ul>li.tree-open>a{
	/* color: #FFFFFF; */
}
input[type=text]:focus, input[type=password], select:focus {
    /* border-bottom: 1px solid #85CE36 !important; */
}
.btn-primary {
	background-color: #1976d2;
}
.nav-header-logo{
	background: #2e8332;
    color: #FFFFFF;
}
.nav-header-logo {
	/* box-shadow: inset 0 -5px 0 0 #c5e2ff; */
}
.nav-header-logo p {
	color: rgba(255, 255, 255, 0.95);
}
.submenu .highlight,
.submenu .tree-open {
    background: #c9f3d3;
}
.account-img-profile {
    background: #c6f7c8
}
.account-menu-container {
    background: #edffeb;
}
.account-menu li a:hover {
    background: #a8e9ab;
}