header {
	background: #63697b;
}
.site-content {
	background-color: #f4f4f4;
}
header, header a {
	color: #c5deea;
}
.sidebar nav>ul>li.highlight,
.sidebar nav>ul>li.tree-open>a {
	background: #6e758c;
	color: #FFFFFF;
}
.sidebar nav>ul>li.highlighti i.sidebar-menu-icon,
.sidebar nav>ul>li.tree-open>a i.sidebar-menu-icon {
	color: #FFFFFF;
}

.sidebar nav .submenu {
	background: #eeeff0;
}
.sidebar nav li.highlight>a {
	color: #1c82e1;
}
.sidebar nav li>a i.sidebar-menu-icon {
	color: #424b5e;
}

.sidebar nav>ul>li.highlight>a>i.sidebar-menu-icon {
	color: #FFFFFF;
}

.sidebar nav li>a {
	color: #4b5660;
}

.sidebar nav li>a:hover {
	background: #6e758c;
	color: #FFFFFF;
	box-shadow: inset 5px 0 #444959;
}
.sidebar nav li>a:hover i.sidebar-menu-icon {
	color: #FFFFFF;
}
.sidebar nav>ul>li.highlight>a,
.sidebar nav>ul>li.tree-open>a{
	/* color: #FFFFFF; */
}
input[type=text]:focus, input[type=password], select:focus {
    /* border-bottom: 1px solid #85CE36 !important; */
}
.btn-primary {
	background-color: #1976d2;
}
.nav-header-logo{
	background: #414659;
    color: #FFFFFF;
}
.nav-header-logo {
	/* box-shadow: inset 0 -5px 0 0 #c5e2ff; */
}
.nav-header-logo p {
	color: rgba(255, 255, 255, 0.95);
}
.submenu .highlight,
.submenu .tree-open {
    background: #b8c1c4;
}
.account-img-profile {
    background: #c9cfd2;
}
.account-menu-container {
    background: #e7e9eb;
}
.account-menu li a:hover {
    background: #b8c1c4;
}